[submodule "deps/json-builder"]
	path = deps/json-builder
	url = git@github.com:benjaminselfridge/json-builder.git
[submodule "clafer"]
	path = clafer
	url = git@github.com:gsdlab/clafer.git
[submodule "grift"]
	path = grift
	url = git@github.com:GaloisInc/grift.git
[submodule "deps/elf-edit"]
	path = deps/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "deps/bv-sized"]
	path = deps/bv-sized
	url = git@github.com:GaloisInc/bv-sized.git
[submodule "deps/bv-sized-float"]
	path = deps/bv-sized-float
	url = git@github.com:GaloisInc/bv-sized-float.git
[submodule "deps/softfloat-hs"]
	path = deps/softfloat-hs
	url = git@github.com:GaloisInc/softfloat-hs.git
[submodule "deps/parameterized-utils"]
	path = deps/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
